.list-container {
  &:hover {
    .experience-card {
      opacity: 0.7;
    }
  }
}

.projects-title {
  display: flex;
  color: var(--text-color);
  font-weight: 500;
}

.projects-header {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.projects-description {
  color: var(--dark-color);
  font-size: 17px;
  padding-left: 50px;
  @media screen and (max-width: 1025px) {
    font-size: 16px;
  }
  @media screen and (max-width: 768px) {
    padding-left: 0px;
  }
}

.projects-card {
  display: flex;
  align-items: start;
  margin-top: 17px;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: #e7c5a721;
    opacity: 1 !important;
    .experience-title {
      color: var(--primary-color);
    }
  }
  @media screen and (max-width: 1025px) {
    padding: 0px;
    margin-bottom: 15px;
    margin-top: 0px;
    &:hover {
      background-color: transparent;
    }
  }
}

.content {
  margin-top: -8px;
}

#projects {
  padding-top: 6rem;
  @media screen and (max-width: 1025px) {
    padding-top: 0.5rem;
  }
}

.title-mobile {
  display: none;
  @media screen and (max-width: 1025px) {
    display: flex;
    top: 0;
    background-color: var(--secondary-dark-color);
    position: sticky;
  }
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  padding-top: 17px;
  padding-bottom: 17px;
}

.projects-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 14px;
  color: var(--primary-color);
  margin-bottom: 10px;
  @media screen and (max-width: 768px) {
    font-size: 13px;
  }
}

.tech-list {
  padding: 4px 15px 4px 15px;
  border-radius: 20px;
  background-color: #ff770031;
}
