.experience-description {
  color: var(--dark-color);
  font-size: 17px;
  padding-left: 50px;
  @media screen and (max-width: 1025px) {
    font-size: 16px;
  }
  @media screen and (max-width: 768px) {
    padding-left: 0px;
  }
}

.list-container {
  &:hover {
    .experience-card {
      opacity: 0.7;
    }
  }
}

.content {
  margin-top: -18px;
  margin-left: -1.2rem;
  margin-right: -1.2rem;
  @media screen and (max-width: 1025px) {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -8px;
  }
}

.experience {
  @media screen and (max-width: 1025px) {
    padding-bottom: 50px;
  }
}

#experience {
  padding-top: 6rem;
  @media screen and (max-width: 1025px) {
    padding-top: 0.5rem;
  }
}

.card {
  left: -1.5rem;
  right: -1.5rem;
  top: -1.5rem;
  bottom: -1.5rem;
}

.experience-header {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.experience-times-mobile {
  display: none;
  @media screen and (max-width: 768px) {
    text-transform: uppercase;
    display: flex;
    margin-top: 10px;
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--dark-color);
    white-space: nowrap;
  }
}

.experience-content {
  font-size: 15px;
}

.experience-times {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-color);
  white-space: nowrap;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.experience-card {
  display: flex;
  align-items: start;
  margin-top: 17px;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: #e7c5a721;
    opacity: 1 !important;
    .experience-title {
      color: var(--primary-color);
    }
  }
  @media screen and (max-width: 1025px) {
    padding: 0px;
    margin-bottom: 15px;
    margin-top: 0px;
    &:hover {
      background-color: transparent;
    }
  }
}

.project-link {
  display: inline-block;
  cursor: pointer;
  align-items: center;
  margin-bottom: 20px;
  p {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    margin: 0;
    margin-left: 8px;
    font-size: 15px;
  }
  svg {
    fill: var(--text-color);
    height: 17px;
    width: 17px;
  }
  &:hover {
    p {
      color: var(--primary-color);
    }
    svg {
      fill: var(--primary-color);
    }
  }
}

.project-item {
  display: flex;
  align-items: center;
}

.experience-title {
  display: flex;
  color: var(--text-color);
  font-weight: 500;
}

.experience-note {
  font-size: 13px;
  margin: 0px;
  margin-right: 5px;
}

.title-mobile {
  display: none;
  @media screen and (max-width: 1025px) {
    display: flex;
    top: 0;
    background-color: var(--secondary-dark-color);
    position: sticky;
  }
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  padding-top: 17px;
  padding-bottom: 17px;
}

.experience-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 14px;
  color: var(--primary-color);
  margin-bottom: 10px;
  @media screen and (max-width: 768px) {
    font-size: 13px;
  }
}

.tech-list {
  padding: 4px 15px 4px 15px;
  border-radius: 20px;
  background-color: #ff770031;
}
