.cursor {
  position: fixed;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: radial-gradient(circle, #7537003b 0%, rgba(139, 223, 146, 0) 80%);
  pointer-events: none;
  z-index: 9999;
  transition: width 0.2s, height 0.2s, background 0.3s ease;
}

.cursor:hover {
  background: radial-gradient(
    circle,
    rgba(255, 0, 255, 0.8) 0%,
    rgba(255, 0, 255, 0) 60%
  );
  transform: scale(1.5);
}
